*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    background: purple;
    height: 70px;
    padding: 0 50px;
    text-align: right;
    position: fixed;

}

.enlaces{
    color: whitesmoke;
    text-decoration: none;
    padding: 20px;
    display: inline-block;

}

.section{
    height: 100vh;
}

.section:first-of-type(1){
    margin-top: 70px;
}

