*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    font-size: 3rem;
    color: crimson;
    margin: 40px auto;
    text-align: center;
    font-family: monospace;
}

/* @media <mdia-type> and (expresion){
    /*Se ejecutara*/


@media print {
    .title{
        color: steelblue;
        font-size: 5rem;
        text-align: center;
        font-family: cursive;
    }
}


@media screen and (max-width:600px){
    .title{
        background: black;
        color: white;
    }
}
