*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.atachment{
    width: 100%;
    height: 100vh;
    padding: 0.1px;
    background-image: url(./img/domino-164_6wVEHfI-unsplash.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size:cover;

}

.title{
    font-size: 70px;
    color: whitesmoke;
    text-align:left;
    margin-top: 80px;
    margin-left: 100px;
}

.fixed{
    background-attachment: fixed;
}

.space{
    height: 3000px;
}