body{
    margin: 0;
}



.box{
    width: 200px;

    height: 100px ;

}

.box1{
    background: steelblue;
    /* margin-top:50px ;
    margin-bottom: 40px;
    margin-right: 25px;
    margin-left: 30px;

    margin: top rigth botton left;
    */
    /* margin:50px 30px 25px 30px; */
    /* margin: 0 auto; */
    
}

.box2{
    background: tomato;
    margin-top: 40px;
}