*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* los pseudoelementos tambien tienen expecificidad*/


.enlace{
    display: block;
    background: tomato;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-bottom: 4px solid #ebd1db;

}

.enlace:link{
    background: yellow;
    color: #000;
}

.enlace:visited{
    background: crimson;

}

.enlace:hover{
    padding: 40px 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;

}

.enlace:active{
    background: steelblue;
    color: #fff;
}