*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content:space-evenly;
}

.container{
    width: 70%;
    height: 300px;
    /* background: rgb(100, 100, 250); */
    margin: 30px auto;
    background-color: rgb(100, 100, 250);
    /* background-image: url(../05-BoxShadow/Spy_SinFondo.png), url(./img/sun-regular-24.png); */

    background-image: url(../05-BoxShadow/Spy_SinFondo.png);
    background-repeat:no-repeat;
    background-position: top center ;
    background-position: center;
    background-size: cover;











}

.atachment{
    width: 40%;
    background-image: url(./img/img-hero.png) ;
    height: 400px;
    margin-top: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.title{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 100px;

}

.fixed{
    background-attachment: fixed;
}

.space{
    height: 3000px;
}