*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    width: 70%;
    height: 300px;
    /* background: rgb(100, 100, 250); */
    margin: 30px auto;
    background-color: rgb(100, 100, 250);
    /* background-image: url(../05-BoxShadow/Spy_SinFondo.png), url(./img/sun-regular-24.png); */

    background-image: url(../05-BoxShadow/Spy_SinFondo.png);
    background-repeat:no-repeat;
    background-position: top center ;
    background-position: center;
    background-size: cover;











}

.atachment{
    width: 100%;
    height: 100vh;
    padding: 0.1px;
    background-image: url(./img/img-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;




}

.title{
    font-size: 70px;
    font-family: 'Arial';
    text-align: center;
    color: #fff;
    margin-top: 300px;
}

.fixed{
    background-attachment: fixed;
}

.space{
    height: 3000px;
}