/*
Desendencia en CSS: definene a que elementos se aplicaran estilos que se hallan escogido previsamente

1. Selector de tipo o de etiqueta
    nav{.........}

*/
 /*Selector de Tipo*/

 h2{
    color: steelblue;
 }


 /*Selectores tipo clase*/
 .nav{
    border: 1px solid blue;
 }

 .😆{
    color: darkblue;
 }

 .titulo{
    text-align: center;
 }


 /*Selector ID*/
#section{
    border: 2px solid red;
}

/*Selector UNIVERSAL*/

*{
    
}